DISCORD_TOKEN=PASTE_YOUR_DISCORD_BOT_TOKEN_HERE
DEFAULT_VOLUME=0.50
PORT=8080

# Discord Developer Portal -> Rich Presence -> Assets
ASSET_KEY=file_0000000049881f49ef3a3b0cb7cdf84

# Professional anti-spam defaults
ANTISPAM_MAX_MESSAGES=5
ANTISPAM_WINDOW=5
ANTISPAM_TIMEOUT_1=300
ANTISPAM_TIMEOUT_2=600
ANTISPAM_TIMEOUT_3=3600
